@import "tailwindcss";

body {
  font-family: 'Inter', sans-serif;
}

@theme {
  --color-White-200: #f9f9f6;
  --color-White-100: #f5f5f5;
  --color-Green-700: #1F2D2A;
  --color-Green-500: #2E7D58;
  --color-Green-600: #3F7D5C;
  --color-Green-400: #A8C3A0;
};